<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="<%= root_path %>" class="logo">
      <%= image_tag "logo.png", alt: "Logo image" %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link active"><a href="#" data-nav-section="home">Home</a></li>
        <li class="nav-link"><a href="#" data-nav-section="cases">Cases We Handle</a></li>
        <li class="nav-link"><a href="#" data-nav-section="resources">Free Resources</a></li>
        <li class="nav-link"><a href="#" data-nav-section="about">About Us</a></li>
        <li class="nav-link"><a href="#" data-nav-section="contact">Contact</a></li>
        <li class="nav-link"><a href="https://medium.JudgeCase.com" target="_blank" class="external">Blog</a></li>
        <!-- <li id="js-navigation-more" class="nav-link more"><a href="javascript:void(0)">More</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Submenu Item</a></li>
            <li><a href="javascript:void(0)">Another Item</a></li>
            <li class="more"><a href="javascript:void(0)">Item with submenu</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
                <li><a href="javascript:void(0)">Another Item</a></li>
              </ul>
            </li>
            <li class="more"><a href="javascript:void(0)">Another submenu</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Sub-submenu</a></li>
                <li><a href="javascript:void(0)">An Item</a></li>
              </ul>
            </li>
          </ul>
        </li> -->
      </ul>
    </nav>
  </div>
</header>
