<div class="hero" data-section="home">
  <div class="hero-content">
    <h1><span itemscope itemtype="http://schema.org/LegalService">Case Law, PLLC</span></h1>
    <h3>Personal Injury, Family/Divorce, &amp; DUI Law Firm</h3>
    <hr><br><br>
    <h2>Supporting our community through</h2>
      <ul>
        <li>free resources</li>
        <li>superb legal counsel</li>
        <li>excellent client experience</li>
      </ul>
    <br>
    <a href="tel:+18668227352" id="callButton"><button id="header-action">Need to call us?</button></a>
  </div>
</div>
