<div class="mini-hero" data-section="">
  <div class="mini-hero-content">
    <h1><span itemscope itemtype="http://schema.org/LegalService">Case Law, PLLC</span></h1>
    <h3>Personal Injury, Family/Divorce, &amp; DUI Law Firm</h3>
    <br>
    <a href="tel:+18668227352"><button id="header-action">Need to call us?</button></a>
  </div>
</div>
