<% provide(:title, 'Local Businesses') %>
<%= render 'shared/mini-hero' %>
<div class="businesses">
  <div class="businesses-content">
    <h2>Trusted Businesses in Alpharetta</h2>
    <hr />
    <p id="businesses-desc">We support and recommend these businesses in the Alpharetta area. We have a direct, ongoing relationship with all of these folks, and they are awesome. Let them know you heard about them from Case Law!</p>
    <hr />
    <div class="grid-items-lines">
      <% @businesses.each do |business| %>
      <a href="<%= business.website %>" class="grid-item" target="_blank">
        <h1><%= business.business %></h1>
        <p><%= business.name %></p>
      </a>
      <% end %>
      <div class="right-cover"></div>
      <div class="bottom-cover"></div>
    </div>
  </div>
</div>
