Hi Amanda,

<p>Message from: <strong><%= @name %></strong></p>
<p>Email them back at: <strong><%= @email %></strong></p>
<br>
<p><%= @name %>'s message:<br><%= @body %></p>

Your friendly neighborhood automaton,
The JudgeCase Website