<p>Hi Amanda,</p>
<br>
<p>Someone submitted the contact form on JudgeCase.com.</p><br>
<p><strong>Message from</strong>: <%= @name %></p>
<p><strong>Email them back at</strong>: <%= @email %></p>
<p><strong><%= @name %>'s message</strong>:<br><%= @body %></p>
<br>
Your friendly neighborhood automaton,<br>
The JudgeCase Website