//Home

.mission {
  $large-screen: 50em !default;
  align-items: center;
  background: $medium-gray;
  background-position: right;
  background-size: none;
  display: flex;
  justify-content: center;
  min-height: 35em;
  padding: 2em;

  .mission-content {
    @include outer-container;
    text-align: center;

    p {
      @include shift(2);
      @include span-columns(8);
    }

    span {
      color: $blue;
    }
  }
}

.cases {
  $large-screen: 50em !default;
  align-items: center;
  background: $light-gray;
  background-position: right;
  background-size: none;
  display: flex;
  justify-content: center;
  min-height: 25em;
  padding: 2em;
  color: $dark-gray;

  hr {
    border-bottom: 1px solid $medium-gray;
    display: block;
  }

  .cases-content {
    @include outer-container;
    text-align: center;

    .side-image {
      $base-line-height: 1.5em !default;
      $action-color: #477DCA !default;
      $dark-gray: #333 !default;
      $large-screen: 53.75em !default;
      $base-font-color: $dark-gray !default;
      $side-image-background-top: #B5EBEB;
      $side-image-background-bottom: #5DAC5D;
      $side-image-content-background: $light-gray;
      $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

      background: $side-image-content-background;

      text-align: left;

      @include media($large-screen) {
        @include row(table);
      }

      .images-wrapper {
        background: image-url("downtown.jpg");
        background-position: 0 25%;
        background-color: $side-image-background-top;
        background-size: cover;
        border-bottom: $side-image-border;
        display: block;
        min-height: 12em;
        // padding: 3em;

        @include media($large-screen) {
          @include span-columns(4);
          background-position: bottom;
          background-size: cover;
          border-right: $side-image-border;
        }
      }

      .side-image-content {
        padding: 1em 1em 4em 1em;

        @include media($large-screen) {
          @include span-columns(8);
          padding: 4em 4em 8em 4em;
        }

        h1 {
          margin-bottom: 0.9em;
        }

        h4 {
          background: #BBB;
          color: white;
          display: inline-block;
          font-size: 0.75em;
          margin-bottom: 1.3em;
          padding: 3px 8px;
          text-transform: uppercase;
        }

        p {
          color: $contrast-font-color;
          line-height: $base-line-height;
          margin-bottom: 3em;
        }
      }

      @include reset-display();
    }
  }
}

.action-section {
  $large-screen: 50em !default;
  align-items: center;
  background: $medium-gray;
  background-position: right;
  background-size: none;
  display: flex;
  justify-content: center;
  min-height: 25em;
  padding: 2em;

  .action-section-content {
    @include outer-container;
    text-align: center;

    div {
      text-align: left;
      @include media($large-screen) {
        @include span-columns(6);
      }
    }

    button {
      @include media($large-screen) {
        @include shift(2);
        @include span-columns(4);
      }
    }
  }
}

.resources {
  $large-screen: 50em !default;
  $medium-screen: 30em !default;
  align-items: center;
  background: $light-gray;
  background-position: right;
  background-size: none;
  display: flex;
  justify-content: center;
  min-height: 25em;
  padding: 2em;
  color: $dark-gray;
  $base-border-color: gainsboro !default;
  $card-border-color: $base-border-color;
  $card-background: lighten($card-border-color, 10%);

  hr { border-bottom: 1px solid $medium-gray; }

  .resources-content {
    @include outer-container;
    text-align: center;

    .resources-text {
      p {
        @include shift(2);
        @include span-columns(8);
      }
      @include clearfix;
    }

    .downloads {
      .card {
        background-color: transparent;

        .card-image {
          img {
            @include media ($large-screen) {
              max-width: 100%;
              height: auto;
            }
          }
        }

        .card-header, .card-copy {
          background-color: $card-background;
        }
      }
      @include media($medium-screen) {
        .card {
          flex-basis: 50%;

          .card-image img:hover {
            transform: scale(1.1);
          }

          .card-image img {
            transition: 0.5s;
          }
        }
      }
    }
  }
}

.about {
  $large-screen: 50em !default;
  align-items: center;
  background: $medium-gray;
  background-position: right;
  background-size: none;
  display: flex;
  justify-content: center;
  min-height: 25em;
  padding: 2em;

  .about-content {
    @include outer-container;
    text-align: center;

    .side-image {
      $base-line-height: 1.5em !default;
      $action-color: #477DCA !default;
      $dark-gray: #333 !default;
      $large-screen: 53.75em !default;
      $base-font-color: $dark-gray !default;
      $side-image-background-top: #B5EBEB;
      $side-image-background-bottom: #5DAC5D;
      $side-image-content-background: $light-gray;
      $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

      background: transparent;
      color: white;

      text-align: left;

      @include media($large-screen) {
        @include row(table);
      }

      .images-wrapper {
        background: image-url("about-kelly.png");
        background-position: 0 25%;
        background-color: $side-image-background-top;
        background-size: cover;
        border-bottom: $side-image-border;
        display: block;
        min-height: 12em;
        padding: 3em;

        @include media($large-screen) {
          @include span-columns(4);
          background-position: bottom;
          background-size: cover;
          border-right: $side-image-border;
        }
      }

      .side-image-content {
        padding: 1em 1em 4em 1em;

        @include media($large-screen) {
          @include span-columns(8);
          padding: 4em 4em 8em 4em;
        }

        h1 {
          margin-bottom: 0.9em;
        }

        h4 {
          background: #BBB;
          color: $base-font-color;
          display: inline-block;
          font-size: 0.75em;
          margin-bottom: 1.3em;
          padding: 3px 8px;
          text-transform: uppercase;
        }

        p {
          color: $base-font-color;
          line-height: $base-line-height;
        }

        i, li {
          color: $base-font-color;
        }
      }

      @include reset-display();
    }
  }
}


.contact {
  $large-screen: 50em !default;
  align-items: center;
  background: $light-gray;
  background-position: right;
  background-size: none;
  justify-content: center;
  min-height: 25em;
  padding: 2em;

  hr { border-bottom: 1px solid $medium-gray; }

  .contact-content {
    @include outer-container;
    text-align: center;
    padding-top: 2em;

    .contact-section {
      text-align: justify;

      p, ul, hr {
        @include span-columns(12);
        @include media ($large-screen) {
          @include span-columns(10);
        }
      }

      h3 {
        margin: 1em 0 1em 0;
        @include span-columns(12);
      }
        hr {
        @include shift(0);
        margin-top: 0;
        @include clearfix;
      }
      @include media($large-screen) {
        @include span-columns(4);
      }

      #social-connect {
        margin-top: 1em;
      }

      form {
        label, input {
          @include span-columns(12);
        }
        @include media($large-screen) {
          @include span-columns(10);
        }
        #btn-submit {
          color: $white;
        }
      }
    }

    .contact-info button,
    #contact-about button {
      @include span-columns(12);
      white-space: normal;
      height: 100%;
      margin-top: 0.5em;
      background-color: $base-color;

      &:hover {
        background-color: darken($base-color, 10%);
      }
    }

    .social-media {
      li {
        display: inline-block;
        margin-right: 1em;
        a {
          color: $base-color;
          &:hover {
            color: darken($base-color, 10%);
          }
        }
      }
    }

    #social-connect,
    .social-media {
      text-align: center;
      @include media ($large-screen) {
        text-align: left;
      }
    }
  }
}


// Local Businesses Page
.partners {
  $large-screen: 50em !default;
  align-items: center;
  background: $medium-gray;
  background-position: right;
  background-size: none;
  display: flex;
  justify-content: center;
  min-height: 35em;
  padding: 2em;

  .partners-content {
    @include outer-container;
    text-align: center;

    p#partners-desc {
      @include shift(2);
      @include span-columns(8);
    }

    @mixin grid-item-columns($columns) {
      width: (100% / 12) * $columns;
    }

    .grid-items-lines {
      $base-background-color: $medium-gray;
      $dark-gray: #333 !default;
      $light-gray: #DDD !default;
      $medium-screen: 40em !default;
      $large-screen: 53.75em !default;
      $base-font-color: $dark-gray;
      $grid-items-background: $base-background-color;
      $grid-item-background: $white;
      $grid-item-border: 1px solid transparentize($base-font-color, 0.8);
      $grid-medium-item-columns: 6;
      $grid-medium-item-big-columns: 12;
      $grid-large-item-columns: 4;
      $grid-large-item-big-columns: 8;
      $grid-item-color: $base-font-color;
      $grid-item-height: 10em;

      @include clearfix;
      position: relative;
      text-align: center;

      .grid-item {
        background: $grid-item-background;
        border-bottom: $grid-item-border;
        border-right: $grid-item-border;
        cursor: pointer;
        float: left;
        height: $grid-item-height;
        outline: none;
        overflow: hidden;
        padding: 2em;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        width: 100%;

        @include media($medium-screen) {
          @include grid-item-columns($grid-medium-item-columns);
        }

        @include media($large-screen) {
          @include grid-item-columns($grid-large-item-columns);
        }

        &:focus,
        &:hover {
          background: $light-gray;
        }
      }

      .grid-item img {
          display: block;
          height: 2.5em;
          margin-bottom: 1.2em;
          opacity: 0.2;
        }

      .grid-item h1 {
          color: $grid-item-color;
          font-size: 1.3em;
          margin-bottom: 0.4em;
        }

      .grid-item p {
          color: transparentize($grid-item-color, 0.4);
          line-height: 1.5em;

          // @include media($medium-screen) {
          //   max-width: 70%;
          // }
        }

      .grid-item-big {
        @include media($medium-screen) {
          @include grid-item-columns($grid-medium-item-big-columns);
        }
        @include media($large-screen) {
          @include grid-item-columns($grid-large-item-big-columns);
        }
        // p {
        //   @include media($medium-screen) {
        //     max-width: 60%;
        //   }
        // }
      }


    // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
      .bottom-cover {
        background: $grid-items-background;
        bottom: 0;
        height: 3px;
        position: absolute;
        width: 100%;
      }

      .right-cover {
        background: $grid-items-background;
        height: 100%;
        position: absolute;
        right: 0;
        width: 4px;
      }
    }
    .partner-listing {
      @include media($medium-screen) {
        @include span-columns(6 of 12);
        @include omega (2n);
      }
      @include media($large-screen) {
        @include omega-reset(2n);
        @include span-columns(4 of 12);
        @include omega (3n);
      }
    }
  }
}

